<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Note App</title>
</head>
<body>
    <h1>Simple Note App</h1>
    <div class="menu">
        <!-- Dodaj menu -->
        <ul>
            <li><a href="/">Home</a></li>
	    <li><a href="/new">New Note</a></li>	    
            <!-- Dodaj inne opcje menu -->
        </ul>
    </div>
    <ul>
        {% for note in notes %}
            <li><a href="/note/{{ note.title }}">{{ note.title }}</a></li> <!-- Wyświetl notatki po tytule -->
        {% endfor %}
    </ul>
</body>
</html>

