<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_styles.css') }}">
</head>
<body>
    <h1>Simple Note App</h1>
    <div class="menu">
        <!-- Dodaj menu -->
        <ul>
            <li><a href="/">Home</a></li>
	    <li><a href="/new">New Note</a></li>	    
            <!-- Dodaj inne opcje menu -->
        </ul>
    <h1>Note Details</h1>
    <h2>{{ note.title }}</h2>
    <p>{{ note.content }}</p>
</body>
</html>

